<ul>

<li><a href="/home">Home</a></li>
{{#if login}}
<li><a href="/api/carts">Carts</a></li>
<li><a href="/api/perfil">Perfil</a></li> 
<li><a href="/api/logout">Logout</a></li>
{{else}}
<li><a href="/api/login">Login</a></li>
<li><a href="/api/registro">Registro</a></li>
{{/if}}

</ul>